body {
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 118.75%;
    color: #272727;
}
body.lock {
    overflow: hidden;
}

body::-webkit-scrollbar {
    width: 12px;
}
body::-webkit-scrollbar-track {
    background-color: #fff;
}
body::-webkit-scrollbar-thumb {
    background-color: #0041A4;
    border-radius: 20px;
    border: 3px solid #fff;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
main {
    flex: 1 1 auto;
}

._mw-1170 {
    max-width: 1170px;
    margin: 0 auto;
}

._pt p + p {
    margin-top: 1em;
}

._container {
    max-width: 1160px;
    padding: 0 15px;
    margin: 0 auto;
}

.section-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1;
    text-transform: uppercase;
    color: #465067;
}

._bg {
    position: relative;
}
._bgi {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}

.btn-premium {
    font-weight: 700;
    text-align: center;
    color: #fff;
    background: linear-gradient(88deg, #0041A4 3.4%, #00A386 98.93%);
    box-shadow: 0px 10px 50px rgba(0, 221, 185, 0.25);
    border-radius: 15px;
}
.btn-premium:hover,
.btn-premium:active {
    background: linear-gradient(88deg, #00A386 3.4%, #0041A4 98.93%);
}

.contact-icon {
    min-width: 30px;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #73A56C;
    border-radius: 50%;
}
.contact-icon svg path {
    fill: #fff;
}

.contacts {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contacts__item {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}
.contacts__item-title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
}

.socials {
    display: flex;
    align-items: center;
    gap: 20px;
}
.socials__item svg {
    width: 50px;
    height: 50px;
    fill: #0041A4;
    transition: .4s;
}
.socials__item:hover svg {
    fill: #465067;
}

.privacy-policy {
    font-weight: 500;
    color: #8C8C8C;
    text-decoration: underline;
}
.privacy-policy:hover {
    color: #73A56C;
}

/** HEADER =======================================================================> */
.header {
    padding: 22px 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 35px;
    z-index: 99;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 15px;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.menu .socials {
    display: none;
}
.menu__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}
/* .menu__item {} */
.menu__link {
    font-weight: 600;
    font-size: 18px;
    line-height: 122%;
}
.menu__link:hover {
    color: #0041A4;
}

.header__phone {
    display: flex;
    align-items: center;
    gap: 10px;
}
.header__phone-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 122%;
    text-align: center;
    transition: .4s;
}
.header__phone:hover .header__phone-text {
    color: #73A56C;
}

.burger-menu {
    display: none;
}
.burger-menu__icon-line {
    fill: #272727;
    transform-origin: center;
    transition: y .3s ease-in .3s, rotate .3s ease-in, opacity 0ms .3s;
}
.burger-menu[aria-expanded="true"] .burger-menu__icon-line {
    transition: y .3s ease-in, rotate .3s ease-in .3s, opacity 0ms .3s;
}
.burger-menu[aria-expanded="true"] :is(.burger-menu__icon-top, .burger-menu__icon-bottom) {
    y: 10;
}
.burger-menu[aria-expanded="true"] .burger-menu__icon-top {
    rotate: 45deg;
}
.burger-menu[aria-expanded="true"] .burger-menu__icon-bottom {
    rotate: -45deg;
}
.burger-menu[aria-expanded="true"] .burger-menu__icon-middle {
    opacity: 0;
}
/** <======================================================================= HEADER */


/** HOME =========================================================================> */
.home {
    margin-bottom: 100px;
}
.home-slider__slide {
    min-height: 750px;
}
.home-slider__inner {
    padding: 150px 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.home-slider__content {
    max-width: 550px;
}
.home-slider__title {
    margin-bottom: 80px;
    font-weight: 700;
    font-size: 50px;
    line-height: 124%;
    text-transform: uppercase;
    color: #465067;
}
.home-slider__btn {
    padding: 20px 44px;
    font-size: 16px;
    line-height: 125%;
}
.home-slider__img {
    width: 505px;
}
.home-slider__pagination .swiper-pagination-bullet {
    width: 51px;
    height: 4px;
    background-color: #fff;
    border-radius: 100px;
    opacity: 1;
}
.home-slider__pagination .swiper-pagination-bullet-active {
    background-color: #0041A4;
}
.home-slider__pagination .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
}
.home-slider__pagination .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    max-width: 270px;
    bottom: 120px;
}
/** <========================================================================= HOME */


/** <======================================================================== MODAL */
.modal-form {
    overflow: auto;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: rgba(232, 232, 232, 0.6);
    backdrop-filter: blur(12.5px);
    transform: translateY(-110%);
    transition: .4s;
}
.modal-form.modal-form--active {
    transform: translateY(0%);
}
.modal-form__body {
    max-width: 1000px;
    width: 100%;
    max-height: 90%;
    background-color: #EEEEEE;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
    overflow: auto;
}
.modal-form__body::-webkit-scrollbar {
    width: 12px;
}
.modal-form__body::-webkit-scrollbar-track {
    background-color: #fff;
}
.modal-form__body::-webkit-scrollbar-thumb {
    background-color: #0041A4;
    border-radius: 20px;
    border: 3px solid #fff;
}
.modal-form__header {
    padding: 30px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #FFF;
}
.modal-form__logo img {
    width: 260px;
}
/* .modal-form__close {} */
.modal-form__content {
    padding: 56px 50px 68px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.modal-form__desc {
    flex: 0 1 39%;
}
.modal-form__title {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 65px;
    line-height: 1;
    text-transform: uppercase;
    color: #465067;
}
.modal-form__text {
    max-width: 300px;
    font-weight: 500;
    font-size: 30px;
    line-height: 120%;
}

.form-modal {
    flex: 0 1 59%;
}
.form-modal__grid {
    margin-bottom: 20px;
    display: grid;
    grid-template-rows: repeat(2, 70px) 200px;
    gap: 30px;
}
.form-modal__input,
.form-modal__message {
    padding: 24px 30px;
    border-radius: 15px;
}
.form-modal__input::placeholder,
.form-modal__message::placeholder {
    color: #878787;
}
.form-modal__message {
    resize: none;
}
.form-modal__label {
    margin-bottom: 20px;
    padding-left: 50px;
    display: flex;
    align-items: center;
    position: relative;
}
.form-modal__label-check {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
.form-modal__label-checkbox {
    margin-left: -50px;
    width: 40px;
    height: 40px;
    background-color: #FFF;
    border-radius: 10px;
    position: absolute;
}
.form-modal__label-check:checked + .form-modal__label-checkbox {
    background-image: url('../img/icons/check-form.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.form-modal__label-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 121%;
    text-align: start;
}
.form-modal__btn {
    padding: 18px;
    display: block;
    width: 100%;
    font-size: 20px;
    line-height: 125%;
    text-transform: uppercase;
}
/** MODAL ========================================================================> */


/** ABOUT US =====================================================================> */
/* .about-us {} */
.header__title {
    margin-left: 5px;
    margin-bottom: -1px;
    padding: 20px 10px 0;
    max-width: 300px;
    width: 100%;
    text-align: center;
    background-color: #E8E8E8;
    border-radius: 35px 35px 0 0;
}
.about-us__container {
    padding: 45px 70px 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    background-color: #E8E8E8;
    border-radius: 0 35px 35px 35px;
}
/* .about-us__description {} */
.about-us__description-title {
    margin-bottom: 19px;
    font-weight: 700;
    font-size: 25px;
    line-height: 124%;
    color: #54994B;
}
.about-us__description-text {
    font-weight: 500;
}
.about-us__img img {
    border-radius: 20px;
}
/** <===================================================================== ABOUT US */


/** WARRANTY =====================================================================> */
.warranty {
    margin: 0 auto;
    padding: 100px 15px;
    max-width: 1200px;
}
.warranty__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    text-align: center;
}
.warranty__item {
    max-width: 270px;
    width: 100%;
}
.warranty__img {
    margin-bottom: 25px;
}
.warranty__title {
    font-weight: 700;
}
/** <===================================================================== WARRANTY */


/** SERVICES =====================================================================> */
.services__title {
    margin: 0 auto -1px;
    padding: 20px 10px 0;
    max-width: 430px;
    width: 100%;
    text-align: center;
    background-color: #E8E8E8;
    border-radius: 35px 35px 0 0;
}
.services__inner {
    padding: 60px 0 160px;
    background-color: #E8E8E8;
    position: relative;
}
.services__container {
    max-width: 1220px;
    padding: 0 25px;
    margin: 0 auto;
}
.services__list {
    text-align: center;
}

.item-services {
    /* max-width: 270px; */
    /* width: 100%; */
    min-height: 500px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    z-index: 2;
    background: rgba(115, 165, 108, 0.6);
}
.item-services::before {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 102, 255, 0) 31%, rgba(0, 102, 255, 0.4), rgba(0, 0, 0, 1) 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.item-services:hover::before {
    background: linear-gradient(180deg, rgba(0, 102, 255, 0.4) 31%, #000000 100%);
}
.item-services__bg {
    mix-blend-mode: multiply;
    transition: .4s;
}
.item-services:hover .item-services__bg {
    transform: scale(1.05);
}
.item-services__content {
    width: 100%;
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    display: grid;
    justify-items: center;
    gap: 45px;
}
.item-services__title {
    max-width: 215px;
    font-weight: 700;
    font-size: 20px;
    line-height: 110%;
    color: #fff;
    transition: .4s;
}
.item-services__icon {
    transition: .4s;
}
.item-services:hover .item-services__title,
.item-services:hover .item-services__icon {
    opacity: 0;
}
.item-services__link {
    padding: 60px 50px;
    width: 100%;
    min-height: 211px;
    display: grid;
    justify-items: center;
    gap: 29px;
    font-weight: 700;
    font-size: 25px;
    line-height: 1;
    background-color: #0066FF;
    border-radius: 100px 100px 20px 20px;
    overflow: hidden;
    position: absolute;
    bottom: -100%;
    left: 0;
    right: 0;
}
.item-services:hover .item-services__link {
    bottom: 0%;
}
.item-services__link-text {
    color: #fff;
}
/** <===================================================================== SERVICES */


/** BELIEVE ======================================================================> */
.believe {
    margin-top: -50px;
    position: relative;
}
.believe__title {
    margin: 0 auto;
    padding: 30px 10px 0;
    max-width: 430px;
    width: 100%;
    text-align: center;
    background-color: #FFF;
    border-radius: 35px 35px 0 0;
}
.believe__list {
    margin: 0 auto;
    padding: 60px 20px 100px;
    max-width: 1210px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    column-gap: 30px;
    row-gap: 20px;
}
.believe__item {
    min-height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
}
/** <====================================================================== BELIEVE */


/** PORTFOLIO ====================================================================> */
.portfolio {
    margin: 0 auto 100px;
    max-width: 1170px;
}
.portfolio__title {
    padding: 30px 70px 0;
    max-width: 470px;
    width: 100%;
    background-color: #E8E8E8;
    border-radius: 35px 35px 0 0;
}
.portfolio__inner {
    margin-top: -60px;
    padding: 100px 55px 50px;
    background-color: #E8E8E8;
    border-radius: 35px;
}
.portfolio__slider {
    position: relative;
}

.slide-portfolio__container {
    display: flex;
    gap: 33px;
}
.slide-portfolio__title {
    margin-bottom: 10px;
    max-width: 337px;
    font-weight: 500;
    font-size: 25px;
    line-height: 120%;
    color: #54994B;
}
.slide-portfolio__desc {
    padding-bottom: 70px;
}
.slide-portfolio__text {
    max-width: 397px;
}
.slide-portfolio__text p + p {
    margin-top: 1em;
}
.slide-portfolio__img {
    margin-left: auto;
    max-width: 600px;
    border-radius: 20px;
    overflow: hidden;
}
.slide-portfolio__img img {
    width: 100%;
}

.portfolio__slider-nav {
    max-width: 340px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.portfolio__slider-pagination {
    font-weight: 700;
    font-size: 50px;
    color: #333132;
}
.portfolio__slider-pagination .swiper-pagination-current {
    font-size: 85px;
}
.portfolio__slider-next.swiper-button-next,
.portfolio__slider-prev.swiper-button-prev {
    top: -25px;
    width: 50px;
    height: 43px;
}
.portfolio__slider-next.swiper-button-next::after,
.portfolio__slider-prev.swiper-button-prev::after {
    font-size: 0;
    color: transparent;
}
/** <==================================================================== PORTFOLIO */


/** FORM =========================================================================> */
/* .form {} */
.form__title {
    padding: 30px 70px 0;
    max-width: 470px;
    width: 100%;
    color: #79A174;
    background-color: #D9E9D7;
    border-radius: 35px 35px 0 0;
}
.form__inner {
    margin-top: -50px;
    padding: 100px 55px;
    background: linear-gradient(180deg, #D9E9D7 0%, #B3D3AE 100%);
    border-radius: 35px;
}

.application-form__grid {
    margin-bottom: 22px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 60px;
    column-gap: 30px;
}
.application-form__textarea {
    min-height: 200px;
    grid-column: 1/3;
    resize: none;
}
.application-form__input,
.application-form__textarea {
    padding: 25px 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 122%; 
    color: #272727;
    background-color: #FFF;
    border-radius: 15px;
}
.application-form__input::placeholder,
.application-form__textarea::placeholder {
    color: #878787;
}
.application-form__label {
    margin: 0 auto 40px;
    padding-left: 50px;
    max-width: 640px;
    display: flex;
    align-items: center;
    position: relative;
}
.application-form__label-check {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
.application-form__label-checkbox {
    margin-left: -50px;
    width: 40px;
    height: 40px;
    background-color: #FFF;
    border-radius: 10px;
    position: absolute;
}
.application-form__label-check:checked + .application-form__label-checkbox {
    background-image: url('../img/icons/check-form.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.application-form__label-text {
    font-weight: 500;
}
.application-form__btn {
    margin: 0 auto;
    padding: 20px 94px;
    display: block; 
    font-weight: 700;
    line-height: 125%;
    color: #FFF;
    background-color: #73A56C;
    border-radius: 15px;
    transition: .4s;
}
.application-form__btn:hover {
    background-color: #0041A4;
}
.application-form__btn:active {
    background-color: #465067;
}
/** <========================================================================= FORM */


/** CONTACT ======================================================================> */
.contact {
    padding: 100px 0;
}
.contact__inner {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.contact__info {
    flex: 0 1 29%;
}
.contact__info .socials {
    margin-bottom: 30px;
}
.contact__title {
    margin-bottom: 22px;
}
.contact__map {
    flex: 0 1 69%;
    border-radius: 15px;
    overflow: hidden;
}
.contact__map iframe {
    width: 100%;
    height: 100%;
}

.privacy-policy__text {
    text-decoration: none;
}
/** <====================================================================== CONTACT */


/** <======================================================================= FOOTER */
.footer {
    padding: 50px 0;
    background-color: #E8E8E8;
}
.footer__top {
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.footer__description {
    max-width: 400px;
}
.footer__description-logo img {
    margin-bottom: 40px;
    width: 295px;
}
.footer__description-text {
    font-weight: 500;
}
.menu-footer__list {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 23px;
}
.menu-footer__link {
    font-weight: 600;
}
.menu-footer__link:hover {
    color: #73A56C;
}

.footer__site {
    display: flex;
    align-items: center;
}
.footer__site-year {
    font-weight: 600;
}
.footer__site-dev {
    margin: 0 auto;
}

.scroll-to-top {
    position: fixed;
    bottom: 70px;
    right: 70px;
    z-index: 98;
    padding: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0066FF;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
}
.scroll-to-top.scroll-to-top__show {
    opacity: 1;
    visibility: visible;
}
.scroll-to-top:hover {
    background-color: #0041A4;
}
/** FOOTER =======================================================================> */